.top{
    font-style: roboto;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
    /* margin-right : 300px; */
    gap: 30px;
}
.link{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;

}
.link a{
    padding :20px 80px;
}

